{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <main id="main">
        <section>
            <div class="container">
                <br><br><br>
                <br><br><br>
                <div class="content-center">
                <section id="contact" class="contact">
                    <div class="section-title">
                        <h2>Contactanos</h2>
                        <p>Envianos tu mensaje</p>
                      </div>
                    <div class="php-email-form">
                    <div class="container d-flex justify-content-center text-center" data-aos="fade-up">  
                        <div class="col-lg-8 mt-5 mt-lg-0">
                            <form method="post">{% csrf_token %}
                            <div class="form-group">
                                <div class="form-row">
                                <div class="col-md-6 form-group ">
                                    <input type="email" class="form-control" placeholder="Tu correo" name="email" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" placeholder="Tu nombre" name="nombre" required="">
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Asunto" name="asunto" required="">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Escribe tu Mensaje" name="msg"></textarea>
                            </div>
                            <div class="text-center"><button type="submit" value="Enviar">Enviar Mensaje</button></div>
                            </form>
                        </div>
                    </div> 
                </div>
                </div>        
                </section><!-- End Contact Section -->
            </div>
        </section>
      
      </main><!-- End #main -->
</body>

</html>
    
{% endblock %}