{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tiendita Otaku</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
              <div class="col-3"  style="background-color:#fcd2e6">
                <h1>
                {% load static %}
                  <img class="img1" src="{% static 'images/images.png' %}" style="max-width:40%;height:auto;"></h1> 
              </div>
              <div class="col-6"  style="background-color:#fcd2e6">
                <h1 style="font-size:2.8vw"><strong> Figuritas </strong></h1>
              </div>
              <div class="col-3"  style="background-color:#fcd2e6">
                <h1><img class="img2" src="{% static 'images/images2.png' %}"  style="max-width:40%;height:auto;"></h1>
              </div>
            </div>
          </div>

          <br>
          <div class="container-fluid"> 


            {% if user.is_authenticated  %}{% if user.is_staff %}

          <a class="btn btn-primary" href="{% url 'crear_figuras' %}" style="float: left; font-size: 14px;">Agregar Figuras <span class="glyphicon glyphicon-plus"></span></a>
          {% else %}{% endif %}{% else %}{% endif %} 
          <a class="btn btn-primary" href="{% url 'listado_figuras' %}" style="float: right; font-size: 14px;">Editar Figuras <span class="glyphicon glyphicon-plus"></span></a>
           
          <h1>Productos Disponibles</h1>
            {% for f in figuras %}
              <div class="row">
                <div class="col-lg-2">
                  <div class="card">
                    <img class="card-img-top" src="{{f.imagen.url}}">
                    <div class="card-body">
                      <div class="centro">
                       <h4 class="card-title">{{f.titulo}}</h4>
                        <p2 class="card-text"> $3.000 </p2>
                       <br>
                        <a href="#" class="btn btn-primary">Agregar al Carrito</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </body>
  </html>
{% endblock %}