{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tiendita Otaku</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>

            <!--{% if user.is_authenticated  %}{% if user.is_staff %}-->
            <br><br><br>
            <br><br><br>
            <br><br><br>
          
          <!--{% else %}{% endif %}{% else %}{% endif %} -->
          <!--<a class="btn btn-primary" href="{% url 'listado_mangas' %}" style="float: right; font-size: 14px;">Editar Mangas <span class="glyphicon glyphicon-plus"></span></a>-->


<!-- Esto era para mostrar pero el ivan se encarga de eso -->
           <!-- <h1>Mangas Disponibles</h1>
            {% for m in manga %}
            <div class="row">
              <div class="col-lg-2">
                <div class="card">
                  <img class="card-img-top" src="{{m.imagen.url}}">
                  <div class="card-body">
                    <div class="centro">
                      <h4 class="card-title">{{m.titulo}}</h4>
                      <p2 class="card-text"> $3.000 </p2>
                      <br>
                      <a href="#" class="btn btn-primary">Agregar al Carrito</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <br>
            {% endfor %}-->
            <a class="btn btn-primary" href="{% url 'nueva_receta' %}" style="float: left; font-size: 14px;">Agregar Receta <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-primary" href="{% url 'listado_mangas' %}" style="float: right; font-size: 14px;">Editar Mangas <span class="glyphicon glyphicon-plus"></span></a>
    </body>
</html>
{% endblock %}
