{% extends 'base_generic.html' %}

{% block content %}
<main id="main">
  <section>
      <div class="container">
          <br>
      </div>
  </section>

</main><!-- End #main -->

<div class="masthead container d-flex align-items-center flex-column">
  <p style="margin-top: 20px;">Ingrese sus datos: </h2>
</div>
<br>
  <div class="masthead container d-flex align-items-center flex-column">
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
        <button type="submit">Login</button>
    </form>
  </div>

{% endblock %}